/* Universal/global styles */
:root {
    --first-color: #e1eef7;
    --second-color: #566069;
    --third-color: #dadde0; /*  */
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* Header/navigation link styles */
.navigation {
    display: flex;
    background-color: var(--first-color);
    width: auto;
    height: auto;
    flex-wrap: wrap;
    border-color: var(--second-color), var(--third-color);
    border-width: 10px;
    border-style: outset;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    
}

.navigation ul li {
    margin: 10px 90px;
    font-size: 20px;
    border-style: outset;
    border-width: thin;
    border-color: var(--second-color);
    
}

.navigation ul li a {
    text-decoration: none;
    justify-content: center;
    color: var(--second-color);
    font-style: italic;
    font-weight: bolder;
}

/* Hero/Jumbotron styles */


/* Mid-Page styles */


/* Other part page styles (if neccessary) */


/* Footer Styles */


/* Mobile page styling settings */ 